h1, h3 {
  color: black;
  text-align: center;
  font-style: normal;
  font-weight: 300;
}

img {
  width: 300px;
  height: 300px;
}

.container {
  width: 85%;
  margin:auto;

}

.button {
  width: 300px;
  height: 30px;
  border: 1px solid grey;
  background-color: white;
  margin:auto;
  text-align: center;
  font-weight: bolder;
}

body {
  background-color: grey
}
